.movies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.movie {
  background-color: black;
  border-radius: 10px;
  text-align: center;
  color: white;
  padding: 5px;

}

.movie img {
  width: 100%;
  border-radius: 10px;
}